.hero__img {
  width: 100%;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  background-position: top;
}

.hero {
  text-align: center;
  width: 100%;
}

.hero > span {
  max-height: 860px;
}

.hero img {
  object-fit: cover;
}