.section {
  width: 100%;
  max-width: 860px;
  padding: 0 1rem;
  margin-top: 2rem;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.fullwidth {
}

.fullwidth h2 {
  font-size: 1.25rem;
  font-weight: 500;
}