html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato' !important;
  color: #333 !important;
  background-color: var(--white) !important;
  scroll-behavior: smooth;
}

:root{
  --white: #f9f9f9;
  --black: #36383F;
  --gray: #85888C;
} /* variables*/


* {
  box-sizing: border-box;
}

main {

}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  width: 100%;
}


@media (min-width: 768px) {
  .region--top {
    flex-direction: column-reverse;
  }

  main > div:nth-child(2) {
    grid-row: 4;
  }

  main > div:nth-child(3) {
    grid-row: 3;
    padding-top: 30px;
  }
}

h1 {
  font-family: 'Playfair Display', serif;
}

.image {
  width: 100%;
}

.header_box {
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
  padding: 4px 0;
}

.header_box h3 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 500;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.copy h4 {
  font-size: 1rem;
  margin: 0;
}

.copy_content {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: max-content;
}

@media (min-width: 768px) {
  .copy_content--wide {
    grid-column: span 2;
  }
}

.copy_image > span {
  height: 300px !important;
}

.copy_image--together > span {
  height: 600px !important;
}

.copy_image > span > img {
  border-radius: 10px;
  object-fit: cover;
}

.story__content {
  display: grid;
  grid-gap: 1rem;
  grid-row-gap: 4rem;
}

@media (min-width: 768px) {
  .story__content {
    grid-template-columns: repeat(2, 1fr);
  }
}


.photo_gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

@media (min-width: 768px) {
  .photo_gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}

.photo_gallery img {
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}


.modal__content-image img {
  cursor: initial !important;
}

.copy {
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0px;
}

.section--condensed .story__content {
  grid-template-columns: repeat(2, 1fr);
}

.section--condensed .copy_image > span {
  height: 150px !important;
}

@media (min-width: 768px) {
  .section--condensed .copy_image > span {
    height: 300px !important;
  }
}

.expander_button {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .9rem;
  text-decoration: underline;
  cursor: pointer;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .75);
  z-index: 2;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 3;
  padding: 2rem;
  margin: 2rem;
  overflow: scroll;
  padding-top: 0;
}

.modal__close_button {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  cursor: pointer;
}

.modal__close_button:after {
  position: absolute;
  content: ' ';
  border-right: 2px solid #333;
  position: absolute;
  content: ' ';
  width: 21px;
  height: 21px;
  transform: rotate(-45deg);
  top: 7px;
  left: -9px;
}

.modal__close_button:before {
  border-right: 2px solid #333;
  position: absolute;
  content: ' ';
  width: 21px;
  height: 21px;
  transform: rotate(45deg);
  top: -7px;
  left: -9px;
}

.modal__header {
  text-align: right;
  margin-right: -17px;
  margin-bottom: 9px;
  margin-top: 5px;
}

.modal__content--two-col {
}

@media (min-width: 768px) {
  .modal__content--two-col {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
  }
}

.modal__content-image {
  position: relative;
  height: calc(100% - 3rem);
  border-radius: 10px;
  overflow: hidden;
}

.modal__content-image > span {
  width: 100% !important;
  height: 100% !important;
}

.modal__content-image img {
  width: auto !important;
  max-width: auto !important;
  min-width: auto !important;
}

.nav-link.active {
  border-color: var(--gray);
}

.header-text p {
  text-align: center;
}
.header-text h1 {
  text-align: center;
  margin-bottom: .5rem;
}

.header-text h2 {
  text-align: center;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  margin-bottom: 3rem;
  text-align: center;;
}

.where h2 {
  text-align: center;
}

.where h2 a {
  color: #333;
  text-decoration: underline;
}

@media (min-width: 768px) {

  .mapBox {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}

.mapBox a {
  color: #333;
  text-decoration: underline;
}

.more-details p {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.centered,
.registry_heading {
  text-align: center;

}

.registry_heading  a {
  color: #333;
  text-decoration: underline;
}

.max-width {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}

.show_all {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 1rem;
}

.show_all a {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .9rem;
  text-decoration: underline;
  cursor: pointer;
  color: #333;
}

.header__details {
  font: 400 14px Lato, sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
}

.header__details a {
  color: #333;
  text-decoration: underline;
}

.faq__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 0;
  grid-gap: 1rem;
}

.faq__question {
  font-weight: bold;
}


/* Injected CSS Code */
.form-label.form-label-auto {
  display: inline-block;
  float: left;
  text-align: left;
}

/* Injected CSS Code */
@media print{.form-section{display:inline!important}.form-pagebreak{display:none!important}.form-section-closed{height:auto!important}.page-section{position:initial!important}}

.slide {
  position: relative;
}

.slide .content {
  position: absolute;
  background: #fff;
  border-radius: 15px;
  border: 1px solid lightgray;
  padding: 1rem;
  max-width: 70%;
  font-size: 1rem;
  box-shadow: 10px 5px 5px black;
}


.slide .content p {
  margin-top: 0;
}

.slide .content .question {
  font-size: 1.2rem;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.slide .content .attribution {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
  text-align: right;
  font-weight: bold;
}


.bottom-left .slide .content {
  bottom: 3rem;
  left: -4rem;
}

.bottom-right .slide .content  {
  bottom: 3rem;
  right: -4rem;
}

.top-left  .slide .content  {
  top: 3rem;
  left: -4rem;
}

.top-right .slide .content  {
  top: 3rem;
  right: -4rem;
}


.slide img {
  border-radius: 30px;
  max-height: calc(100vh - 6rem);
  max-width: calc(100vw - 8rem);
}

.slideshow {
  transition: opacity 4s;
  height: 100vh;
}

.slideshow.fadeout {
  opacity: 0;
}

.shareBox {
  position: absolute;
  width: 300px;
  right: .5rem;
}

.shareBox h1 {
  text-align: center;
}

.media-upload {
  width: calc(100%);
  height: 200px;
  border: 1px dashed #333;
  border-radius: 20px;
}

.share-form {
  margin: 1rem;
}

.share-form label {
  font-family: 'Playfair Display', serif;
}

.share-form input[type="text"] {
  border: 1px solid #333;
  border-radius: 3px;
  width: 100%;
  font-size: 16px;
  padding: 5px;
  margin-top: 5px;
}

.share-form textarea {
  border: 1px solid #333;
  border-radius: 3px;
  width: 100%;
  height: 80px;
  font-size: 16px;
  padding: 5px;
  margin-top: 5px;
}

.share-form button {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #333;
  text-transform: uppercase;
  font-weight: bold;
  background: rgb(32, 178, 73);
}

.media-upload {
  background: rgb(232,235,243);
  display: flex;
  justify-content: center;
  color: #fff;
  justify-items: end;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.media-upload > div {
  color: #333;
  text-align: center;
  font-size: 2rem;
}

.file-field {
  display: none;
}

.share-success {
  height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.share-success-content {
  font-size: 2rem;
  text-align: center;
}